---
import Image from "./Image.astro";
import type { CollectionEntry } from "astro:content";
import { formatDate } from "../scripts/utils";

import '../styles/article-list.css';

type Props = {
  post: CollectionEntry<"posts">
}

const { post } = Astro.props;
const { title, description, pubDate, categories, image, external } = post.data;
const pathName = Astro.url.pathname;
const postURL = external.isExternal ? external.url : `/blog/${post.slug}`;
const TitleHeading = pathName === '/' ? "h3" : "h2";
---
<article class="article__list">
    <figure class="article__thumbnail">
      <a href=`${postURL}` tabindex="-1">
        <Image filename={image.filename} altText={image.alt} width="300px" height="200px" />
      </a>
    </figure>

    <div class="article__content">
        <TitleHeading class="article__heading">
            <a href=`${postURL}`>{title}</a>
        </TitleHeading>
      <p class="article__excerpt">{ description.split(" ").splice(0, 50).join(" ") }</p>

      <dl class="article__metadata">
        <dt></dt>
        <dd><time datetime={ pubDate.toISOString() }>{ formatDate(pubDate) }</time></dd>
      </dl>
    </div>
  </article>
