---
import { CollectionEntry } from "astro:content";
import Image from './Image.astro';

type Props = {
    work: CollectionEntry<"work">
}

const work = Astro.props;
const { slug } = work.work; // work.work.work.work.work
const { title, description, image } = work.work.data; // work isn't even a word anymore
const pathName = Astro.url.pathname;
---
<div class="work-card">
    <Image filename={image.filename} altText={image.alt} />
    <div class="work-card__description">
        <h2><a href={`${pathName}${slug}`}>{title}</a></h2>
        <p>{description}</p>
    </div>
</div>
